.blue{
    color:blue
}
.green{
    color:green
}
.orange{
    color:orange
}

div.blue{
    background-color:blue;
    margin: 30px;
    border: 2px solid purple;

}

.blue{
    background-color:blue;
    margin: 30px;
    border: 2px solid purple;

}

div#container{
    border: 2px solid red;
    margin: 20px;
    padding:20px
}

ul.blue{
    background-color: orange;
    
}
